<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Kurs - '+${course.metadata.name.get}">Title</title>
</head>
<body>
<main class="container">
    <section>
        <table>
            <thead>
            <tr>
                <th>
                    <h1>Struktur</h1>
                </th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="chapter : ${course.courseOrder.chapterOrder}">
                <td>
                    <a th:href="@{${chapter.name}+'/overview.html'}">
                        <h2 th:text="${chapter.name}"></h2>
                    </a>
                    <table>
                        <tbody>
                        <tr th:each="group : ${chapter.groupOrder}">
                            <td>
                                <a th:href="@{${chapter.name}+'/'+${group.name}'/overview.html'}">
                                    <h3 th:text="${group.name}"></h3>
                                </a>
                            </td>
                        </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
            </tbody>
        </table>
    </section>
</main>
</body>
</html>