<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <title th:text="'Liste für '+${material.term} "></title>
    <th:block th:fragment="head">
    </th:block>
</head>
<body>
<main>
    <div th:fragment="content">
        <header>
            <h1 style="color: var(--bs-red); " th:text="${material.headline}"></h1>
        </header>
        <hr>
        <main>
            <div th:if="${material.numerated}">
                <h2 th:text="${material.headline}"></h2>
                <ul>
                    <li th:each="entry:${material.entries}" th:text="${entry}"></li>
                </ul>
            </div>
            <div th:unless="${material.numerated}">
                <h2 th:text="${material.headline}"></h2>
                <ol>
                    <li th:each="entry:${material.entries}" th:text="${entry}"></li>
                </ol>
            </div>
        </main>
    </div>
</main>
<footer>
</footer>
</body>
</html>