<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <th:block th:fragment="head">
        <link rel="stylesheet" th:href="${rootPath}+'/css/bootstrap.min.css'">
    </th:block>
    <title th:text="'Akronyme für ' + ${material.term}"></title>
</head>
<body>
<main>
    <div class="container" th:fragment="content">
        <header>
            <h1 class="text-center text-light" style="color: var(--bs-red); " th:text="${material.headline}"></h1>
        </header>
        <hr>
        <ul>
            <li class="text-light" th:each="entry:${material.entries}" th:text="${entry}"></li>
        </ul>
    </div>
</main>
<footer>
    <div class="container">

    </div>
</footer>
</body>
</html>