<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <th:block th:fragment="head">
        <link rel="stylesheet" th:href="${rootPath}+'/css/bootstrap.min.css'">
    </th:block>
    <title th:text="'Definition für '+${material.term} "></title>
</head>
<body>
<main>
    <div class="container" th:fragment="content">
        <h1 class="text-center" style="color: var(--bs-red); " th:text="${material.term}"></h1>
        <hr>
        <p style="color: var(--bs-blue);font-style: italic;">Ein <span th:text="${material.term}">
            </span> ist:<br>
            <span th:text="${material.values.definition}"></span>
        </p>
    </div>
</main>
<footer>
    <div class="container">

    </div>
</footer>
<script src="/js/bootstrap.min.js"></script>
</body>
</html>