<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport">
    <th:block th:fragment="head">
        <link rel="stylesheet" th:href="${rootPath}+'/css/bootstrap.min.css'">
    </th:block>
    <title th:text="'Beispiel für '+${material.term} "></title>
</head>
<body>
<main>
    <div class="container" th:fragment="content">
        <header>
            <h1 class="text-center" style="color: var(--bs-red); " th:text="${material.term}"></h1>
        </header>
        <hr>
        <div th:if="${material.imageExample}">
            <img alt="Bild Fehlt" class="img-fluid" th:src="${material.imageName}">
        </div>
        <div th:unless="${material.imageExample}">
            <p class="text-center" th:text="${material.values.text}"></p>
        </div>
    </div>
</main>
<footer>
    <div class="container">

    </div>
</footer>
</body>
</html>